<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="HangFire.Core" version="0.7.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net40" />
</packages>